ml-zoo @ git+https://github.com/karanravindra/ml-zoo.git@v0.1.2

# pytorch
torch
torchvision
torchtext
torchinfo

# model ema
ema-pytorch

# huggingface
huggingface_hub
diffusers
transformers
timm
flash_attn

# kaggle
kaggle

# general
matplotlib
plotly
numpy
pandas

# lightning
lightning
torchmetrics

# misc
ollama
wandb
pygame
moviepy
tqdm
av